.btn {
    background-color: #222;
    color: #fff;
    padding: 1em 1.5em;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.5s;
}

.btn:hover {
    color: #ffbb33;
}